language: android
android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.3
    - android-23
    - extra-android-m2repository
    - extra-android-support
script:  
  - ./gradlew assembleRelease

before_install:
     - chmod +x gradlew