language: android
android:
  components:
    - platform-tools
    - tools
    - build-tools-27.0.3
    - android-26
    - extra-android-m2repository
    - extra-android-support
script:
  - ./accept
  - ./gradlew assembleDebug

before_install:
     - chmod +x gradlew
     - chmod +x accept
