<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wujingchao.android.demo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        <action android:name="android.intent.action.MAIN" />
        <category android:name="com.wujingchao.category.DEMO" />
    -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".supportLibrary.recyclerview.RecyclerViewActivity"
            android:label="SupportLibrary/RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tool.remotedebug.OpenRemoteDebugActivity"
            android:label="Tool/OpenRemoteDebug">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".supportLibrary.percentlayout.PercentLayoutActivity"
            android:label="SupportLibrary/PercentLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".supportLibrary.design.MaterialDesignLibraryActivity"
            android:label="SupportLibrary/MaterialDesign"
            android:theme="@style/AppTheme.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".supportLibrary.design.MaterialDesignDetailActivity"
            android:label="SupportLibrary/MaterialDesign2"
            android:theme="@style/AppTheme.DayNight" />
        <activity
            android:name=".app.fragment.TrainingActivity"
            android:configChanges="orientation|screenSize"
            android:label="App/Fragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.bitmap.DensityDemoActivity"
            android:label="App/Density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.databinding.BasicDataBindingActivity"
            android:label="App/DataBinding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".os.MaxFileDescriptorActivity"
            android:label="Os/MaxFileDescriptor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".os.PipeDemo"
            android:label="Os/PipeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>

        <service
            android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".os.BinderDemo"
            android:label="Os/BinderDemo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".os.IOMultiplexingDemoActivity"
            android:label="Os/IO Multiplexing Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.wujingchao.category.DEMO" />
            </intent-filter>
        </activity>

        <service
            android:name=".os.MockSocketIntentService"
            android:exported="false" />
    </application>

</manifest>